/* eslint-disable */
/**
 * 本文件由工具自动生成，请勿随意改动！！！
 * @name {{title}}
 * @description {{description}}
 * @tutorial {{fileUrl}}
 */
import api from '@api'
import http from '@utils/http'

{{#each apis}}
/**
 * {{description}}
{{#if paramIsArray}}
 * @param {object} [params] 请求参数
{{#each params}}
 * @param { {{~type~}} } [params.{{name}}] {{description}}
{{/each}}
{{/if}}
 * @returns {Promise<[CustomError, Definitions.{{responseBean}}]>} 响应数据
 */
export const {{apiName}} = ({{#if params}}params: Definitions.{{requestBean}}{{/if}}):Promise<[CustomError, Definitions.{{responseBean}}]> => {
    {{#if defaultParams}}
    params = Object.assign({
        {{#each defaultParams}}
        {{name}}: {{value}},
        {{/each}}
    }, params)
    {{/if}}
    return http.async_{{method}}(api.{{name}}{{#if params}}, params{{/if}})
}

{{/each}}
